@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

body {
  margin: 0;
  font-family: 'Sigmar One', cursive;
  caret-color: transparent;
  h1 {
    @media (max-width: 1080px) {
      font-size: 4vw;
    }
  }
}
.cat-background {
  background-image: url('https://media.istockphoto.com/vectors/cute-paw-seamless-pattern-cat-feet-steps-pet-design-texture-for-vector-id1156721538?s=170x170');
}
