.nav {
  background-color: pink;
  height: 100px;
  position: relative;
  border-bottom: 1px solid rgb(129, 129, 129);
  @media (max-width: 1080px) {
    height: 100px;
  }
  h1 {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 0px black;
    line-height: 1.2em;
    cursor: pointer;
  }
  #score {
    left: 90%;
  }
}